html {
  font-family: sans-serif;
  line-height: 1.15;
}

*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  --clr-background: #fff;
  --clr-black: black;
  --clr-blue: #007bff;
  --clr-danger: #dc3545;
  --clr-secondary: #5b5b66;
  --clr-success: #28a745;
  --clr-white: white;
  --brd-radius: .25rem;
}

